<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'board:new_news' %}">Add news</a>
<br>

{% for news in news_list  %}
    {{ news.header }}
    {{ news.body }}
    {{ news.date }}
   <a href="{% url 'board:edit_news' news.id %}">Edit news</a>
     <a href="{% url 'board:delete_news' news.id %}">Delete news</a>
<br>
{% endfor %}

 {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


</body>
</html>